# The ignore files when I am writing an R package.
*~
.Rhistory
.Rbuildignore
.Rproj.user/
.directory
*.RData

# object and shared objects
*.o
*.so
*.dll

# bam and sam files
*.bam

# html reports
*.html

# office files
*.xls
*.doc
*.doc#
*.xls#
*.csv
*.pdf

nohup.out